# Xcode
.DS_Store
*.xcodeproj
xcuserdata/
DerivedData/
build/
*.xcworkspace

# Swift Package Manager
.build/

# Dependencies
Pods/
Carthage/Build/

# API Keys (CRITICAL: DO NOT COMMIT YOUR API KEY)
Secrets.plist

# Logs
*.log

# Other
.swiftpm/